{% extends 'base.html' %}

{% block content %}
  <div class="col-3">

    <!-- url da la direccion de la imagen es de acuerdo a lo configurado en el archivo url -->
    {% if product.image %}
      <img src="{{ product.image.url }}" alt="Imagen del producto"  width="200" height="200" />
    {% endif %}
  </div>

  <div class="col">

    <div class="h1">{{ product.title }}</div>
    <div class="h5 font-weight-bold">
      Precio:
      <span class="text-danger">${{ product.price }}</span>
    </div>
    <p>{{ product.description}}</p>
    <div class="">
      <!-- no se usa with porque la variable product que usa el snippet esta definido en el template -->
      {% include 'carts/snippets/add.html' %}
    </div>

  </div>

{% endblock %}
